@import '../../styles/variables.scss';

.loading-container {
  margin-left: 40%;
  padding-top: 200px;
}

.loading {
  background: $light-purple;
  border-radius:100%;
  float:left;
  height:20px;
  margin: 10px;
  width:20px;
  -webkit-animation:bounce 1.5s infinite;
}

.loading-0 {
  -webkit-animation-delay:.1s;
}

.loading-1 {
  -webkit-animation-delay:.3s;
}

.loading-2 {
  -webkit-animation:bounce 1.5s infinite ease;
  -webkit-animation-delay:.5s;
}

@-webkit-keyframes bounce {
  0%, 100% {
    opacity:1;
  }
  60% {
    opacity:.0;
  }
}