.pet-details {
  // width: 300px;
  height: 311px;
  // background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  // font-family: 'Anaheim';
  position: relative;
  color: white;
  // outline: 1px solid #000000;
  padding: 10px;
  h1 {
  text-shadow: .5px .5px black;
  font-size: 40px;
  margin: 0;
  }
}

.pet-description {
  background-color: white;
  border-radius: 20px;
  color: black;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  width: 80%;
}

img {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}